/* 初始化样式代码 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
input {
  border: none;
  outline: none;
}
ul {
  list-style: none;
}
body {
  background-color: #f2f2f2;
  padding-bottom: 45px;
}
.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* 头部内容 start */
header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #ffa500;
  z-index: 2;
}
header .search {
  position: relative;
  flex: 1;
  padding: 5px 0;
  height: 100%;
}
header .search::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;
  width: 20px;
  height: 20px;
  background: url('../images/jd-sprites.png');
  background-size: 200px 200px;
  background-position: -60px -110px;
}
header .search input {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-left: 40px;
}
header .category,
header .login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  color: #fff;
}
header .category img {
  width: 22px;
  height: 35px;
}
/* 头部内容 end */
/* 商品分类部分 start */
nav {
  background-color: #fff;
}
nav .nav-content {
  display: flex;
  flex-wrap: wrap;
}
nav .nav-content a {
  padding: 5px;
  width: 20%;
  text-align: center;
}
nav .nav-content a > img {
  width: 70%;
  margin: 0 auto;
}
nav .nav-content a > span {
  font-size: 14px;
}
/* 商品分类部分 end */
/* 换新机部分 start */
.change-phone-wrap .phone-content .content-top {
  display: flex;
  flex-wrap: wrap;
}
.change-phone-wrap .phone-content .content-top a {
  width: 50%;
}
.change-phone-wrap .phone-content .content-top a:last-child {
  background: #2d15d0;
}
.change-phone-wrap .phone-content .content-bottom {
  display: flex;
}
.change-phone-wrap .phone-content .content-bottom a {
  position: relative;
  flex: 1;
  text-align: center;
}
.change-phone-wrap .phone-content .content-bottom a .product-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.change-phone-wrap .phone-content .content-bottom a .product-info img {
  width: 76%;
}
.change-phone-wrap .phone-content .content-bottom a .product-info .text {
  font-size: 14px;
  color: #fff;
}
/* 换新机部分 end */
/* 每日必逛部分 start */
.shopping-wrap .shopping-title {
  padding: 5px 0;
}
.shopping-wrap .shopping-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 5px;
}
.shopping-wrap .shopping-content .product-item {
  padding: 5px;
  width: 50%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.shopping-wrap .shopping-content .product-item:nth-child(even) {
  border-right: none;
}
.shopping-wrap .shopping-content .product-item:nth-last-child(-n+2) {
  border-bottom: none;
}
.shopping-wrap .shopping-content .product-item:first-child {
  border-top-left-radius: 10px;
}
.shopping-wrap .shopping-content .product-item:nth-child(2) {
  border-top-right-radius: 10px;
}
.shopping-wrap .shopping-content .product-item:nth-child(3) {
  border-bottom-left-radius: 10px;
}
.shopping-wrap .shopping-content .product-item:nth-child(4) {
  border-bottom-right-radius: 10px;
}
.shopping-wrap .shopping-content .top span {
  color: #000;
  font-size: 16px;
}
.shopping-wrap .shopping-content .top p {
  color: #666;
  font-size: 14px;
}
.shopping-wrap .shopping-content .bottom {
  display: flex;
}
.shopping-wrap .shopping-content .bottom img {
  width: 50%;
}
/* 每日必逛部分 end */
.banner {
  margin: 15px 10px;
}
.banner img {
  border-radius: 10px;
}
.banner.cook,
.banner.adv04 {
  margin: 10px 0 0 0;
}
.banner.cook img,
.banner.adv04 img {
  border-radius: 0;
}
/* 酷玩潮流部分 start */
.trend .trend-title {
  padding: 5px 0;
}
.trend .trend-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}
.trend .trend-content .product-item {
  padding: 5px;
  width: 50%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.trend .trend-content .product-item:first-child {
  position: relative;
  padding: 0;
}
.trend .trend-content .product-item:first-child p {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  color: #fff;
}
.trend .trend-content .product-item:first-child img {
  height: 100%;
  border-top-left-radius: 10px;
}
.trend .trend-content .product-item:nth-last-child(-n+2) {
  border-bottom: 0;
}
.trend .trend-content .product-item:nth-child(2n) {
  border-right: none;
}
.trend .trend-content .product-item:nth-child(2) {
  border-top-right-radius: 10px;
}
.trend .trend-content .product-item:nth-child(5) {
  border-bottom-left-radius: 10px;
}
.trend .trend-content .product-item:nth-child(6) {
  border-bottom-right-radius: 10px;
}
.trend .trend-content .product-item .top span {
  color: #000;
  font-size: 16px;
}
.trend .trend-content .product-item .top p {
  color: #666;
  font-size: 14px;
}
.trend .trend-content .product-item .bottom {
  display: flex;
}
.trend .trend-content .product-item .bottom img {
  width: 50%;
}
/* 酷玩潮流部分 end */
/* 生活风尚部分 start */
.life .life-title {
  padding: 5px 0;
}
.life .life-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}
.life .life-content .product-item {
  padding: 5px;
  width: 50%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.life .life-content .product-item:nth-last-child(-n+4) {
  width: 25%;
}
.life .life-content .product-item:nth-last-child(-n+4) img {
  width: 100% !important;
}
.life .life-content .product-item:nth-child(2),
.life .life-content .product-item:nth-child(4),
.life .life-content .product-item:last-child {
  border-right: none;
}
.life .life-content .product-item:nth-last-child(-n+4) {
  border-bottom: none;
}
.life .life-content .product-item:first-child {
  border-top-left-radius: 10px;
}
.life .life-content .product-item:nth-child(2) {
  border-top-right-radius: 10px;
}
.life .life-content .product-item:nth-child(5) {
  border-bottom-left-radius: 10px;
}
.life .life-content .product-item:last-child {
  border-bottom-right-radius: 10px;
}
.life .life-content .product-item .top span {
  font-size: 16px;
  color: #000;
}
.life .life-content .product-item .top p {
  font-size: 14px;
  color: #666;
}
.life .life-content .product-item .bottom {
  display: flex;
}
.life .life-content .product-item .bottom img {
  width: 50%;
}
/* 生活风尚部分 end */
/* 猜你喜欢部分 start */
.guess .guess-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 5px;
}
.guess .guess-content .product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  width: 48%;
  background-color: #fff;
  border-radius: 10px;
}
.guess .guess-content .product-item .product-name {
  color: #000;
  font-size: 14px;
}
.guess .guess-content .product-item .product-price {
  color: #ff0000;
  font-size: 14px;
  align-self: flex-start;
}
/* 猜你喜欢部分 end */
/* tabbar部分 start */
.tabbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 45px;
  background-color: #fff;
}
.tabbar a {
  flex: 1;
  font-size: 14px;
}
.tabbar a img {
  width: 25px;
  margin: 0 auto;
}
/* tabbar部分 end */
